<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todo App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-icons.php -->
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="wrapper todo-app" id="todo-app">
		<header class="py-3">
			<div class="container text-center">
				<h1>Vue powered Todo App</h1>
			</div>
		</header>
		<main class="py-3">
			<div class="container">
				<form class="todo-input" @submit.prevent="onSubmit(newTodo)">
					<input class="form-control form-control-lg todo-input-field" v-model="newTodo" type="search"
						placeholder="add new item">
				</form>
				<hr class="my-4">
				<div class="todo-list-container">
					<div class="text-center mb-2" v-if="todoList.length == 0">Nothing todo..</div>
					<template v-else>
						<div class="text-center mb-2">{{remainingTodos}} items todo.</div>
						<div class="card">
							<ul class="todo-list list-group list-group-flush">
								<todo-item v-for="(todo, index) in todoList" :key="'todo_' + todo.id" :item="todo"
									:index="index" @complete-change="update" @delete="onDelete" />
							</ul>
						</div>
					</template>
				</div>
			</div>
		</main>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="todo-item.js"></script>
	<script>
		new Vue({
			el: '#todo-app',
			name: 'my-todo-app',
			components: {
				'todo-item': todoItem
			},
			data: {
				newTodo: '',
				todoList: [],
				remainingTodos: null
			},
			methods: {
				onSubmit(value) {
					value = value.trim();
					if (value.length) {
						this.todoList.push({
							id: Date.now(),
							title: value,
							isCompleted: false
						});
						this.newTodo = '';
						this.update();
					} else {
						this.newTodo = '';
					}
				},

				onDelete(index) {
					this.todoList.splice(index, 1);
					this.update();
				},

				update() {
					this.calcRemainingTodos();
					this.sortTodos();
				},

				calcRemainingTodos() {
					let remainingTodosList = this.todoList.filter(item => !item.isCompleted);
					this.remainingTodos = remainingTodosList.length;
				},

				sortTodos() {
					this.todoList.sort((prev, next) => {
						if (prev.isCompleted < next.isCompleted) {
							return -1;
						}
						if (prev.isCompleted > next.isCompleted) {
							return 1;
						}
						return 0;
					});
				}
			}
		})
	</script>
</body>

</html>