.todo-app .todo-item-control-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.todo-app .todo-item .todo-item-title {
  max-width: 80%;
  font-weight: bold;
}

.todo-app .todo-item .todo-item-title-input {
  width: auto;
  max-width: 80%;
}

.todo-app .todo-item.completed .todo-item-title {
  color: gray;
  text-decoration: line-through;
}

.todo-app .todo-item .todo-item-delete {
  margin-left: auto;
}

.todo-app .todo-item {
  user-select: none;
  -webkit-user-select: none;
}
